---
interface Props {
	tags: { [key: string]: number; };
}

const { tags } = Astro.props;
---

<ul>
  {
    Object.keys(tags).map((tag) => (
      <li class="my-3">
        <a
          class="hover:text-primary-500 dark:hover:text-primary-500 px-3 py-2 text-sm font-medium uppercase text-gray-500 dark:text-gray-300"
          aria-label={`View posts tagged ${tag}`}
          href={`/?tag=${tag}`}
        >
          {tag} ({tags[tag]})
        </a>
      </li>
    ))
  }
</ul>

<style></style>
